@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import './_variables.scss';
@import './_navbar.scss';
@import './movie-details';
@import './_mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #242627;
  color: $secondary-color;
  box-sizing: border-box;

  .main-container {
    margin-top: 45px;
  }
}

.search-input-text {
  border: 0;
  border-radius: 0.3em;
  width: 50%;
  padding: 6px 10px;
  background: $secondary-color;
}

.search-result-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  .search-result-item {
    padding: 10px;
    position: relative;
    img {
      width: 200px;
      border-radius: 1em;
      box-shadow: 4px 4px 17.5px rgba(0, 0, 0, 0.2);
    }
  }
}

.react-multi-carousel-list {
  li {
    padding: 10px 0px;
  }

  .carousel-image {
    width: 200px;
    border-radius: 1em;
    box-shadow: $shadow-color;
  
    &:hover {
      cursor: pointer;
    }
  }
}

@include mediaSm {
  .search-result-container {
    grid-template-columns: auto;
  }

  .react-multi-carousel-list {
    .carousel-image {
      width: 280px;
    }
  }

  body {
    .search-input-text {
      width: 90%;
  }
}
}

@include mediaMd {
  .search-result-container {
    grid-template-columns: auto auto auto;
  }
}

@include mediaLg {
  .search-result-container {
    grid-template-columns: auto auto auto auto;
  }
}

@include mediaXl {
  .search-result-container {
    grid-template-columns: auto auto auto auto auto;
  }
}